{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
    <form action="/chpsw" method="post" class="form-contact">
        <p><label>Новый пароль: </label><input type="password" name="newpsw" value="" required />
        <p><label>Подтвердите новый пароль: </label><input type="password" name="newpsw2" value="" required />
        <p><input type="submit" value="Сменить пароль" />
    </form>
{% endblock %}